<ion-view view-title="{{persona.name}}">
  <ion-content class="padding">
    <img ng-src="{{ipfsURL + persona.image.contentUrl}}" style="width: 64px; height: 64px">

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="{{persona.name}}" ng-model="newPersona.name">
      </label>
    </div>

    <div class="item item-divider">
        <h2>{{persona.address}}
    </div>

    <div class="item item-divider">
        <a href="#/tab/account">Go back</a>
    </div>

    <div class="button-bar bar-footer">
      <a class="button button-balanced" ng-click="upsertPersona(newPersona.name)">Update Persona</a>
      <a class="button button-assertive" ng-submit="getPersona()">Clear Persona</a>
    </div>

  </ion-content>
</ion-view>
