<ion-view view-title="Accounts">
  <ion-content>

      <ion-scroll style="height: 700px"> <!--FIXME dynamic -->

      <ion-list 
          show-delete="false"
          show-reorder="false"
          can-swipe="true">
        <ion-item ng-repeat="item in allUsers"
                  class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-click="">

          <img ng-src="img/adam.jpg">
          <h2>{{item.personaSchema.name}}</h2>
          <p>A description</p>
          <ion-option-button class="button-info"  ng-click="toEdit(item.address)">
            Edit
          </ion-option-button>
        </ion-item>

        <div class="item item-divider">
          New User
        </div>

        <ion-item class="item-remove-animate item-avatar item-icon-right item-stable" type="item-text-wrap" href="#/tab/account/0">
          <img ng-src="img/blockapps.png">
          <h2>New User</h2>
          <p>Create a new persona</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          </ion-option-button>
        </ion-item>

      </ion-list>
      
    </ion-scroll>

  </ion-content>
</ion-view>
