<ion-view view-title="Account overview">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-avatar">
        <img src="{{imageSrc}}">
        <h2>{{apersona.name}}</h2>
      </div>
      <div class="item item-body">
        <div>
          Your balance "account.balance"
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Recent activity</div>
        <div class="item item-body">
          <div>
            You sent "transaction.last.amount" ETH
          </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Incoming transactions</div>
        <div class="item item-body">
          <div>
            You have <b>1</b> incoming transaction(s).
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
