<ion-view view-title="Camera">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent activity</div>
      <div class="item item-body">
        <div>
         THIS IS A CAMERA too
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          Address is {{address}}
        </div>
      </div>
    </div>

    <button class="button button-calm" ng-click="shoot()">
      Scan QR
    </button>
  </ion-content>
</ion-view>
