<ion-view view-title="Account">
  <ion-content>

    <ion-scroll style="height: 500px"> <!--FIXME dynamic -->
      <ion-list>
        <div class="item item-divider">
          Existing users
        </div>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="x in allUsers" type="item-text-wrap" href="#/tab/account/{{x}}">
          <img ng-src="img/adam.jpg">
          <h2>{{x}}</h2>
          <p>{{x}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          some_object_array
          some_grouped_map
          </ion-option-button>
        </ion-item>

        <div class="item item-divider">
          Create a new user
        </div>

        <ion-item class="item-remove-animate item-avatar item-icon-right item-stable" type="item-text-wrap">
          <img ng-src="img/blockapps.png">
          <h2>New User</h2>
          <p>Create a new persona</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          some_object_array
          some_grouped_map
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-scroll>

    <div class="button-bar bar-footer">
      <a class="button button-stable" ng-click="setPersona()">Write IPFS</a>
      <a class="button button-stable" ng-click="getPersona()">Read IPFS</a>
    </div>

  </ion-content>
</ion-view>
