<ion-view view-title="Account overview">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-avatar">
        <img src="{{imageSrc}}">
        <h2>{{apersona.name}}</h2>
      </div>
      <div class="item item-body">
        <div>
          Your balance is {{balance}} <b>ETH</b>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Recent activity</div>
        <div class="item item-body">
          <div>
            You sent {{lastAmount}} <b>ETH </b> to {{lastTo}}
          </div>
      </div>
    </div>

    <div class="list card" href="#/pending">
      <div class="item item-divider">Pending signatures</div>
        <div class="item item-body">
          <div>
            You have <b>{{pending.length}}</b> pending signatures(s).
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
