/* Empty. Add your own CSS if you like */




[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar{
    background-color: #223765;
}

.bar-calm.nav-bar-container {
    background-color: #223765;
}

.bar.bar-calm {
    background-color: #223765;
}

.item-divider,
.item.item-divider {
  color: #223765;
  border: none;
  border-bottom: 1px solid #f5f5f5;
}

.bar-header.bar-dark {
  background: #e53b51;
}

.back-text {
  display: none !important;
}

.button.button-balanced {
  border-color: transparent;
  background-color: #ffd600;
  color: #fff;
}

.button.button-balanced.active, .button.button-balanced.activated {
  background-color: #ffd600;
  opacity: 0.7;
}

.item.list-item__pending {
  border-bottom: 1px solid #cfcfcf;
}

.pending-date__wrapper {
  position: absolute;
  top: 17px;
  right: 10px;
  text-align: right;
}

.pending-transaction__date {
  display: block;
  font-size: 11px;
  color: #ccc;
  line-height: 12px;
}

.button.button-assertive.active, .button.button-assertive.activated {
  background-color: #e53b51;
}

.button.button-assertive, .button.button-assertive {
  background-color: #e53b51;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 61px;
  width: 170px;
  font-size: 10px;
  color: #223765;
}
