/* Empty. Add your own CSS if you like */




[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar{
    background-color: #223765;
}

.bar-calm.nav-bar-container {
    background-color: #223765;
}

.bar.bar-calm {
    background-color: #223765;
}

.item-divider,
.item.item-divider {
  color: #223765;
  border: none;
  border-bottom: 1px solid #f5f5f5;
}

.bar-header.bar-dark {
  background: #e53b51;
}

.back-text {
  display: none !important;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 61px;
  width: 170px;
  font-size: 10px;
  color: #223765;
}